img {
	display: block;
	height: 100%;
}

.container {
	border: 2px solid black;
	margin: 50px;
}

.center-text {
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.img-container {
	overflow: hidden;
	height: 300px;
	width: 300px;
}

#clothing-item-list {	
	list-style-type: none;
	padding: 0;
}

#new-clothing-item-form-container {
	width: 75%;
}

.space-at-bottom {
	padding-bottom: 40px
}