<li class="clothing-item space-at-bottom">
	<h3 class="center-text clothing-item-description"><%= clothing_item.color %> <%= clothing_item.kind %></h3>
	<div class="img-container center"><img class="center" src="<%= clothing_item.url %>"></div>
</li>
