<li class="clothing-item space-at-bottom">
	<a class="clothing-item-link" href="/clothing_items/<%= clothing_item.id %>"><h3 class="center-text clothing-item-description"><%= clothing_item.color %> <%= clothing_item.kind %></h3></a>
</li>
