<div id="shopping-container" class="space-at-bottom">
	<h2 class="center-text">Go Shopping</h2>
	<div class="center center-text" id="new-clothing-item-form-container">
		<% if @errors %>
			<ul class="red-text errors center-text">
				<% @errors.each do |error| %>
					<li><%= error%></li>
				<% end %>
			</ul>
 		<% end %>
		<form id="new-clothing-item-form" action="/clothing_items" method="post">
			<input type="text" name="clothing_item[color]" placeholder="green">
			<input type="text" name="clothing_item[kind]" placeholder="purse">
			<input type="text" name="clothing_item[url]" placeholder="www.example.com/test.jpg">
			<input type="submit" value="Purchase">
		</form>
	</div>
</div>

<div id="closet-container">
	<h2 class="center-text">My Closet</h2>
	<ul id="clothing-item-list">
		<% @clothing_items.each do |clothing_item| %>
			<%= erb :'clothing_items/_single', locals: {clothing_item: clothing_item} %>
		<% end %>
	</ul>
</div>